<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Memoptis</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <div class="container">
        <a class="navbar-brand fw-bold" href="{{ url_for('home') }}"
          >Memoptis</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('photos') }}"
                >Principais Fotos</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('newphoto') }}"
                >Cadastrar Fotos</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('catalog') }}">Catálogo Público</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="hero text-center py-5 mb-5">
      <div class="container">
        <h1 class="display-3 fw-bold">Memoptis</h1>
        <p class="lead mb-4">Capturando memórias em cada clique</p>
      </div>
    </header>

    <main class="container mb-5">{% block content %}{% endblock %}</main>

    <footer class="footer bg-dark text-white py-4">
      <div
        class="container d-flex flex-column flex-md-row justify-content-between align-items-center"
      >
        <p class="mb-2 mb-md-0">
          &copy; {{ current_year }} Memoptis. Todos os direitos reservados.
        </p>
        <div class="social-icons">
          <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
